/*
 * Copyright 2023. Artem Sukhanov
 *
 * This is open source software. But copying, distribution, modification, use for commercial and personal purposes is prohibited by the author of this software. All other questions can be asked by mail: stakancheck@gmail.com
 */

@import "./reset.css";
@import "./animations.css";
@import "./slides-card.css";
@import "./boxy-view-style.css";

@import url('https://fonts.googleapis.com/css2?family=Pridi&family=Raleway&Marck+Script&display=swap');


:root {
    --linear-gradient-color: linear-gradient(90deg, rgba(70, 218, 207, 1) 0%, rgba(146, 178, 222, 1) 49%, rgba(238, 132, 236, 1) 100%);
    --background-color: #0c0b0b;
    --bg-with-opacity: #14151a20;
    --black: #000000;
    --dark-gray: #21222a;
    --gray: #878787;
    --blue: #6ea0ff;
    --display-text: #faf8f8;
    --link-color: var(--blue);
    --link-bg-color: var(--linear-gradient-color);
    --pink: #e688e5;
    --green: #46dacf;

    --logo_border_radius: 20px;
}


::selection      { color: var(--display-text);  background: var(--gray);}
::-moz-selection { color: var(--display-text);  background: var(--gray);}

body {
    /* back */
    background: var(--background-color);

    /* font */
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    text-align: left;
    letter-spacing: 0.1em;
    -webkit-tap-highlight-color: transparent;
}

header {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.display-text {

    /* main_display */
    font-family: 'Pridi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8em;
    text-align: center;
    letter-spacing: 0.2em;

    color: var(--display-text);
}

.alternative-text {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}


.gradient-text {
    background: var(--linear-gradient-color);
    /*background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(102,29,253,1) 33%, rgba(145,40,253,1) 54%, rgba(252,69,89,1) 100%);*/
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*.logo-image-holder {*/
/*    width: 300px;*/
/*}*/

.logo-image-holder {
    width: 400px;
}

.top-logo {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.main-title {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* text_accent */
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--gray);

}

.sub-title {
    /* main_display */

    font-size: 2em;
    text-align: center;

    color: var(--gray);

    margin-bottom: 20px;
    margin-top: 20px;
}

.main-menu-holder {
    margin-bottom: 10vh;

    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.main-menu {
    list-style: none;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.main-menu-item {
    display: table-cell;
    position: relative;
}

.menu-button {
    /* main_display */

    font-size: 2em;
    text-align: center;
    white-space: nowrap;

    color: var(--display-text);
}

.main-menu .menu-button {
    padding-left: 20px;
    padding-right: 20px;
}

.menu-button:hover {
    transition: .4s;
    background-image: var(--linear-gradient-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.menu-button:active {
    transform: scale(0.8);
    transition: 0.2s;
}


/* ANIMATED TEXT -----------------------------------------------------------------------------------------------------*/

.animated-text-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.animated-text {
    color: var(--display-text);
}

.dud {
    color: var(--gray);
}


/* FOOTER ------------------------------------------------------------------------------------------------------------*/

.footer {
    /* main_display */

    font-size: 1em;

    text-align: center;
    white-space: pre-wrap;

    height: auto;

    margin: 30px 30px;
    padding: 10px;

    border-radius: 6px;

    color: var(--display-text);

    border: 1px solid var(--gray);
    /*background-image: var(--linear-gradient-color);*/
}

/* CONTAINERS --------------------------------------------------------------------------------------------------------*/

.horizontal_container_main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;

    gap: 32px;

    padding: 32px 0;
}


.horizontal_container_main_centered {

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
    gap: 10px;
}

.main-column-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    line-height: 30px;

    width: 100%;

    color: var(--display-text);

    gap: 32px;

    padding: 64px 0;
}

/* HORIZONTAL LINKS BUTTONS DIV --------------------------------------------------------------------------------------*/

.horizontal_links_buttons_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;

    gap: 12px;
    margin-left: auto;
    margin-top: 12px;
}

.mail_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;

    gap: 12px;
}


/* MAIN TEXT ---------------------------------------------------------------------------------------------------------*/

.main-text-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    line-height: 30px;

    width: 100%;

    color: var(--display-text);

    gap: 32px;
}

.main-text {
    line-height: 30px;

    color: var(--display-text);
}

.new-section {
    flex-direction: column;

    justify-content: left;
    align-items: flex-start;
    display: flex;

    margin: 0 20vw;
    padding: 30px 0;
}

.section-title {
    font-size: 3em;
    text-align: left;
    /*background-image: var(--linear-gradient-color);*/
    color: var(--display-text);
    -webkit-background-clip: text;
    background-clip: text;
}


/* URLS ------------------------------------------------------------------------------------------------------------- */



.main-text-container a,
.inline_link {
    color: var(--link-color);
    position: relative;
    padding: 2px 5px;
}

.main-text-container a:hover,
.inline_link:hover {
    color: var(--background-color);
    /*text-shadow: 1px 1px var(--gray);*/
}

.main-text-container a::before,
.inline_link::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.main-text-container a:hover::before,
.inline_link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main-text-container a::before,
.inline_link::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--link-bg-color);
    border-radius: 6px;
    z-index: -1;
    transition: transform .2s ease;
}


/* ANIMATED LOGO -----------------------------------------------------------------------------------------------------*/

.cover {
    display: block;
    width: 12dvi;
    height: 12dvi;
    aspect-ratio: 1;
    margin: 15px;
    border-radius: var(--logo_border_radius);
}

.atvImg {
    border-radius: var(--logo_border_radius);
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.atvImg img {
    border-radius: var(--logo_border_radius);
    box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--logo_border_radius);
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(64, 71, 101, 0.4), 0 16px 40px rgba(53, 60, 80, 0.4);
}

.atvImg-layer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--logo_border_radius);
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
    overflow: hidden;
    border-radius: var(--logo_border_radius);
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    /*box-shadow: 0 8px 30px rgba(19, 98, 187, 0.39);*/
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--logo_border_radius);
    background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}

/* HEADERS -----------------------------------------------------------------------------------------------------------*/

h2 {
    font-size: 2em;
    text-align: left;

    background-image: var(--linear-gradient-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.main-text-container h3 {
    font-size: 2em;
    text-align: center;

    color: var(--display-text);

    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    /* main_display */

    font-size: 2em;
    text-align: center;

    color: var(--gray);

    margin-bottom: 20px;
    margin-top: 20px;
}


h4 {

    font-size: 1.8em;
    text-align: center;

    color: var(--gray);

    margin-bottom: 5px;
    margin-top: 5px;
}


/* CARDS CONTACTS ----------------------------------------------------------------------------------------------------*/

.service_icon {
    width: 50px;
    height: 50px;
}

.service_icon path {
    fill: var(--blue);
}

.contact_card h4 {
    color: var(--blue);
}

.contact_card {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: relative;
    width: 40vw;
    border-radius: 6px;
    padding: 24px 24px;
    margin: 12px;
    text-decoration: none;
    border: 2px solid var(--display-text);
    transition: all .1s ease-out;
}

@media (hover: hover) {
    .contact_card:hover path {
        fill: var(--background-color);
        transition: fill .1s ease-out;
    }

    .contact_card:hover h4 {
        /*font-weight: bold;*/
        color: var(--background-color);
        transition: color .1s ease-out;
    }

    .contact_card:before {
        background: var(--dark-gray);
        border-radius: 6px;
        content: "";
        inset: 0;
        position: absolute;
        transform: translate(10px, 10px);
        z-index: -1;
    }

    .contact_card:hover:before {
        transform: translate(0);
        border-radius: 3px;
        background-color: var(--display-text);
        transition: all .1s ease-out;
    }
}

@media (hover: none) {
    .contact_card:active {
        background-color: var(--display-text);
    }

    .contact_card:active path {
        fill: var(--dark-gray);
    }

    .contact_card:active h4 {
        color: var(--dark-gray);
    }

    .service_icon path {
        fill: var(--display-text);
    }

    .contact_card h4 {
        color: var(--display-text);
    }
}
/* PARALAX BACKGROUND SECTION ----------------------------------------------------------------------------------------*/


.parallax-container {
    background-image: url("../assets/background_code_xcode.png");
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* INDIVIDUAL STYLES BY ID -------------------------------------------------------------------------------------------*/

#photo_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 60px;
}

#url_edu li{
    margin-bottom: 20px;
}



.simple-toast {
    background-color: var(--dark-gray);
    border-radius: 5px;
    color: var(--display-text);
    box-shadow: 2px 2px 5px 3px var(--bg-with-opacity);
    padding: 1rem;
}

.simple_list {
    list-style-type: circle;
    margin: 0 0 0 10px;
}

.toast {
    left: 50%;
    margin: 0 auto;
    position: fixed;
    transform: translateX(-50%);
    z-index: 100;
}

/* BUTTON MORE INFO --------------------------------------------------------------------------------------------------*/

.button-info {
    display: flex;
    flex-direction: row;

    font-size: 1.3em;
    color: var(--display-text);
    text-align: right;
    margin: 10px 10px;
    padding: 12px 26px;
    border-radius: 6px;

    align-items: center;
    justify-content: end;

    background-color: var(--dark-gray);

    gap: 10px;

    transition: all .1s ease-in;
}

.button-info svg {
    height: 25px;
    width: 25px;
}

.button-info a {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    color: var(--display-text);
    text-decoration: none;
}

.button-info svg path {
    fill: var(--display-text);
}

@media (hover: hover) {
    .button-info:hover svg path {
        fill: var(--blue);
    }

    .button-info:hover a {
        color: var(--blue);
    }

    .button-info:hover {
        transform: scale(1.1);
        transition: all .1s ease-out;
    }

    .button-info:active {
        transform: scale(.9);
        transition: all .1s ease-out;
    }
}

@media (hover: none) {
    .button-info:active a {
        color: var(--blue);
    }

    .button-info:active {
        transform: scale(.9);
        transition: all .1s ease-out;
    }

    .button-info:active svg path {
        fill: var(--blue);
    }
}


/* RESPONSIVE UI -----------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 82rem) {
    .new-section {
        margin: 0 10vw;
    }

    .logo-image-holder {
        width: 300px;
    }

    .horizontal_container_main {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 62rem) {
    .logo-image-holder {
        width: 200px;
        margin-top: 20px;
    }

    .new-section {
        margin: 0 100px;
    }

    .horizontal_container_main {
        justify-content: space-around;
    }

    .contact_card {
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .display-text {
        font-size: 4em;
    }

    .footer {
        line-height: 1.5em;
    }

    .cover {
        display: block;
        width: 35dvi;
        height: 35dvi;
        aspect-ratio: 1;
    }

}


@media screen and (max-width: 43rem) {
    .main-menu {
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;
    }

    .button-info {
        font-size: 1em;
        padding: 8px 22px;
    }

    .new-section {
        margin: 0 20px;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1.5em;
    }

    .main-text-container h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1em;
    }

    #photo_container {
        flex-direction: column;
    }

    .horizontal_container_main {
        flex-direction: column;
        align-items: center;
    }

    .cover {
        display: block;
        width: 60dvi;
        height: 60dvi;
        aspect-ratio: 1;
    }

    .horizontal_container_main_centered {
        align-items: center;
        justify-content: space-around;
    }

    .mail_container {
        width: 100%;
        gap: 0;
        flex-direction: column;
    }

    .horizontal_links_buttons_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

        width: 100%;

        gap: 12px;
        margin: 0;
    }

    .display-text {
        font-size: 3em;
    }

    .sub-title {
        font-size: 1em;
    }

    .section-title {
        font-size: 2em;
    }

    .footer {
        font-size: 0.6em;
        border-radius: 6px;
        background-color: var(--dark-gray);
        border: none;
    }

    #photo_container {
        justify-content: center;
        align-items: center;
        gap: 30px;

    }


    .menu-button:hover {
        background-image: unset;
        -webkit-background-clip: unset;
        background-clip: unset;
        color: var(--display-text);
    }

    .menu-button:active {
        transform: scale(0.8);
        transition: 0.2s;
        background-image: var(--linear-gradient-color);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .contact_card {
        padding: 10px 0;
        margin: 0;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        border: none;
        background-color: var(--dark-gray);
    }


}

@media screen and (max-width: 38rem) {
    .horizontal_links_buttons_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .horizontal_links_buttons_container .button-info {
        font-size: 1.2em;
        padding: 8px 22px;
        width: 100%;
        display: flex;
        margin: 0;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

}
