@import "./reset.css";
@import "./animations.css";
@import "./slides-card.css";


:root {
    --linear-gradient-color: linear-gradient(90deg, rgba(70, 218, 207, 1) 0%, rgba(146, 178, 222, 1) 49%, rgba(238, 132, 236, 1) 100%);
    --background-color: #1A1A1A;
    --gray: #878787;
    --display-text: #F1F1F1;
    --link-color: #6ea0ff;
    --link-bg-color: var(--linear-gradient-color);
    --pink: #ed84ec;
    --green: #46dacf;
}


body {
    /* back */
    background: var(--background-color);

    /* font */
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    letter-spacing: 0.1em;

    margin: 0 20vw;
}

header {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.display-text {

    /* main_display */
    font-family: 'Pridi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8em;
    text-align: center;
    letter-spacing: 0.2em;
}


.gradient-text {
    background: var(--linear-gradient-color);
    /*background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(102,29,253,1) 33%, rgba(145,40,253,1) 54%, rgba(252,69,89,1) 100%);*/
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*.logo-image-holder {*/
/*    width: 300px;*/
/*}*/

.logo-image-holder {
    width: 400px;
}

.top-logo {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.main-title {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* text_accent */
    border-width: 2px 0px;
    border-style: solid;
    border-color: var(--gray);

}

.sub-title {
    /* main_display */

    font-size: 2em;
    text-align: center;

    color: var(--gray);

    margin-bottom: 20px;
    margin-top: 20px;
}

.main-menu-holder {
    margin-bottom: 10vh;

    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.main-menu {
    list-style: none;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.main-menu-item {
    display: table-cell;
    position: relative;
}

.menu-button {
    /* main_display */

    font-size: 2em;
    text-align: center;

    color: var(--display-text);

    padding-left: 20px;
    padding-right: 20px;
}

.menu-button:hover {
    transition: .4s;
    background-image: var(--linear-gradient-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* ANIMATED TEXT */

.animated-text-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.animated-text {
    color: var(--display-text);
}

.dud {
    color: var(--gray);
}


/* FOOTER */

.footer {
    /* main_display */

    font-size: 1em;
    text-align: center;
    word-break: break-all;
    white-space: pre-wrap;

    height: auto;

    display: flex;
    flex-direction: row;
    gap: 20px;

    margin: 30px 10px;
    padding: 10px;

    border-radius: 6px;

    justify-content: space-around;
    align-items: center;

    color: var(--display-text);
    text-shadow: 1px 1px var(--gray);

    background-image: var(--linear-gradient-color);
}

/* FOOTER END */


.horizontal_container_main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;

    gap: 32px;

    padding: 32px 0;
}


.main-text-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    line-height: 30px;

    color: var(--display-text);

    gap: 32px;

    padding: 32px 0;
}

.main-text {
    line-height: 30px;

    color: var(--display-text);
}

.new-section {
    flex-direction: column;

    justify-content: left;
    align-items: flex-start;
    display: flex;

    padding: 30px 0;
}

.section-title {
    font-size: 3em;
    text-align: left;

    background-image: var(--linear-gradient-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* URLS ------------------------------------------------------------------------------------------------------------- */

.main-text-container a {
    color: var(--link-color);
    position: relative;
}

.main-text-container a:hover {
    color: var(--display-text);
    text-shadow: 1px 1px var(--gray);
}

.main-text-container a::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.main-text-container a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main-text-container a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--link-bg-color);
    z-index: -1;
    transition: transform .2s ease;
}



/* HEADERS -----------------------------------------------------------------------------------------------------------*/

h2 {
    font-size: 2em;
    text-align: left;

    background-image: var(--linear-gradient-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h3 {
    font-size: 1em;
    text-align: left;
    color: var(--display-text);
}


/* INDIVIDUAL STYLES BY ID -------------------------------------------------------------------------------------------*/

#photo_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#url_edu li{
    margin-bottom: 20px;
}


/* RESPONSIVE UI -----------------------------------------------------------------------------------------------------*/
@media all and (max-width: 1500px) {
    body {
        margin: 0 10vw;
    }

    .logo-image-holder {
        width: 300px;
    }

}

@media all and (max-width: 1200px) {
    .logo-image-holder {
        width: 200px;
        margin-top: 20px;
    }

    body {
        margin: 0 100px;
    }

    #photo_container {
        flex-direction: column-reverse;
    }

    .display-text {
        font-size: 4em;
    }

}


@media all and (max-width: 900px) {
    .main-menu {
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;
    }

    body {
        margin: 0 50px;
        font-size: .8em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: .8em;
    }

    #photo_container {
        flex-direction: column;
    }

    .display-text {
        font-size: 3em;
    }

    .sub-title {
        font-size: 1em;
    }

    .section-title {
        font-size: 2em;
    }
}
