:root {
    --black: #1A1A1A;
    --white: #F1F1F1;
    --yellow: #EDCC26;
    --red: #EE4B40;
    --gray: #878787;
    --main-bg: var(--black);
    --display-text: var(--white);
    --secondary-text: var(--gray);
}


body{
    display: flex;
    background-color: var(--main-bg);
    padding: 100px 200px;
}


.main_title {
    display: block;

    font-family: 'Pridi', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8em;
    text-align-all: center;

    margin: 0px 20px;

    /* or 109% */
    text-align: center;
    letter-spacing: 0.1em;

    /* text_display */
    color: var(--display-text);
}

.main_title_container {
    display: inline-block;
    border: 3px solid var(--gray);
    padding: 10px 10px;
}

.center_block{
    display: inline-block;
    padding: 10px 10px;
}

ul {
    margin: 0px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

.main_subtitle {
    display: block;

    font-family: 'monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;

    /* text_accent */
    color: var(--secondary-text);
}

.link {
    font-family: 'monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;

    color: var(--display-text);
    text-decoration: none;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--display-text);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover:after {
    width: 100%;
    left: 0;
}