/*
 * Copyright 2023. Artem Sukhanov
 *
 * This is open source software. But copying, distribution, modification, use for commercial and personal purposes is prohibited by the author of this software. All other questions can be asked by mail: stakancheck@gmail.com
 */


.light-theme {
    --black: #0c0b0c;
    --white: #ffffff;
    --gray-blue: #5c606e;


    --primary: #f4fdff;
    --primary-variant: #99b5bb;;
    --secondary: #103b56;

    /*--background: #ded39f;*/
    --background: #4f6b76;
    --background-variant: #355463;
    --triary: #103b56;

    --pixel: .3rem;
    /* ↑ Pixel size */
}


.dark-theme {
    --black: #0c0b0c;
    --white: #ffffff;
    --gray-blue: #5c606e;

    /*--primary: #fce4a8;*/
    /*--primary-variant: #d4b465;;*/
    /*--secondary: #103b56;*/

    --primary: #f4fdff;
    --primary-variant: #99b5bb;;
    --secondary: #103b56;

    /*--background: #ded39f;*/
    --background: #1b2132;
    --background-variant: #9aad99;
    --triary: #103b56;

    --pixel: .3rem;
    /* ↑ Pixel size */
}


@font-face {
    src: url("../../static/vcr.ttf");
    font-family: "VCR OSD Mono [RUS by Daymarius]";
}

html {
    height: 100%;
}

body {
    font-family: "VCR OSD Mono [RUS by Daymarius]", monospace;
    /*background-color: var(--main-bg-color);*/
    background-color: var(--background);
    overflow-x: hidden;

    height: 100%;

    color: var(--primary);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    justify-items: start;

    gap: 5rem;

    /*height: 100vh;*/

    padding: 5rem 20rem;
}

.display-text {
    padding-top: 2rem;
    text-align: center;
    font-size: 8em;
    color: var(--primary);
    text-shadow: var(--pixel) 0 0 var(--primary-variant);
}

h2 {
    font-size: 1.6em;
    color: var(--primary);
}

nav {
    display: flex;

    flex-direction: row;

    justify-content: center;
    justify-items: center;
    align-items: end;
    gap: 10rem;
    /*padding: 0 20rem;*/

    height: 20rem;
    text-align: center;
    /*background-color: var(--main-bg-color);*/
    border-bottom: var(--pixel) solid var(--primary-variant)
}

#blog-me-pixel {
    -webkit-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped.png");
    -moz-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped.png");
    background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped.png");
    background-size: cover;
    backface-visibility: hidden;
    height: 100%;
    width: 100% ;
    max-height: calc(var(--pixel) * 54);
    max-width: calc(var(--pixel) * 49);
    image-rendering: pixelated;
}

#blog-me-pixel:hover {
    animation: .5s 3 animate_me;
}

@keyframes animate_me {
    0% {
        -webkit-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-1.png");
        -moz-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-1.png");
        background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-1.png");
    }
    25% {
        -webkit-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-1.png");
        -moz-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-1.png");
        background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-1.png");
    }
    50% {
    -webkit-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-2.png");
        -moz-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-2.png");
        background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-2.png");
    }
    75% {
    -webkit-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-3.png");
        -moz-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-3.png");
        background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-3.png");
    }
    100% {
    -webkit-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-4.png");
        -moz-background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-4.png");
        background-image: url("../../assets/pixelated/variant-main-transparentbg-cropped-4.png");
    }
}

nav>.display-text {
    padding-bottom: 1rem;
}


#home-button {
    height: calc(var(--pixel) * 10);
    width: calc(var(--pixel) * 10);
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-image: url("../../assets/pixelated/home-micro-normal.png");
    background-size: contain;
    image-rendering: pixelated;
}

#home-button:hover {
    transition: .02s ease-in;
    transform: translateY(-.2rem);
}

#home-button:active {
    transition: .02s ease-in;
    transform: translateY(.2rem);
}

.head-banner-img {
    image-rendering: pixelated;
    height: 8rem;
}

.main-holder {
    display: flex;
    justify-content: space-between;
    justify-items: start;
    align-items: center;

    width: 100%;
    cursor: pointer;

    padding: 1rem 2rem;
    border-style: solid;
    border-width: var(--pixel);
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: space;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<svg width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="white" /></svg>');

    transition: all .1s ease-out;
}

.main-holder:hover {
    transform: translateY(-.2rem);
    border-image-source: url('data:image/svg+xml;utf8, <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5H6V1H7V2H8V3V4V5V6H7V7H6V8H5H4H3H2V7H1V6H0V5V4V3V2H1V1H2V0H3H4ZM3 2V3H2V4V5H3V6H4H5V5H6V4V3H5V2H4H3Z" fill="white"/> </svg>');
}

.main-holder:hover>h2{
    color: var(--primary);
}

.main-holder:active {
    transition: .02s ease-in;
    transform: translateY(.2rem);
}

.main-holder>img {
    image-rendering: pixelated;
    height: 4rem;
}

.main-container {
    display: flex;
    height: calc(100% - 20rem);
    flex-direction: column;
    justify-content: space-between;
}


/* FOOTER ------------------------------------------------------------------------------------------------------------*/

footer {
    /*position: absolute;*/
    /*bottom: 0;*/

    font-family: monospace, serif;
    font-size: 1em;

    border-top: var(--pixel) solid var(--background-variant);
    padding-top: .5rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: var(--primary);
}


/* ARTICLE CARD ----------------------------------------------------------------------------------------------------- */
.article_container {

    height: 12rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: start;

}
.article_container>img {
    height: 100%;
    border: var(--pixel) solid var(--primary);

}

.article_container h2 {
    border-bottom: var(--pixel) solid var(--primary-variant);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.article_container>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 102rem){


}

@media screen and (max-width: 82rem) {
    :root {
        --pixel: .25rem
    }

    h1, .display-text {
        font-size: 6em;
    }


    main {
        padding: 5rem 5rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 62rem) {
    :root {
        --pixel: .25rem
    }

    nav {
        height: 15rem;
        gap: 3rem;
        padding: 1rem 10rem 0 10rem;
        justify-content: space-between;

        flex-direction: row-reverse;
    }

    #home-button {
        display: none;
    }


    h1, .display-text {
        font-size: 6em;
        text-shadow: none;
        text-align: left;
    }


    h2 {
        font-size: 2em;
    }

    main {
        gap: 4rem;
    }

    .main-container {
        display: flex;
        height: calc(100% - 15rem);
        flex-direction: column;
        justify-content: space-between;
    }

    .article_container {
        height: 20rem;
        padding: 2rem;
        gap: 2rem;
    }

    .article_container p {
        font-size: 2em;
    }

    .article_container h2 {
        font-size: 3em;
    }
}


